<h2>courses works!</h2>
<span>Property binding</span> <h2 [textContent]="title"></h2>
<!--<img src="{{imageURL}}" /> -->
<!-- <img [src]="imageURL" /> -->
<p>{{CustomPipetext | summary}}</p>
<span>Attribute Binding</span>
<table>
  <tr>
    <td [attr.colspan]="colspan">data</td><br>
  </tr>
</table>
    <!--if we write [colspan] we get Can't bind to 'colspan' since it isn't a known property of 'td'. ("-->
   <!-- button.btn.btn-primary -->
   <!-- <button class="btn btn-primary"> Save </button> -->
   
   <span>Class Binding</span> <button class="btn btn-primary" [class.active]="isActiveClass"> Save </button><br>
   <span>Style Binding</span> <button class="btn btn-primary" [style.backgroundColor]="isActive ? 'blue' : 'red'"> Save </button><br>
   <span>Style Binding & Event Binding</span> <button class="btn btn-primary" [class.active]="isActiveClass" [style.backgroundColor]="isActive ? 'blue' : 'red'" (click)="onSave($event)"> SaveClick </button><br>
   <span>Event Bubling</span> 
   <div (click)="onDivClicked($event)">
      <button class="btn btn-primary" [style.backgroundColor]="isActive ? 'blue' : 'red'" (click)="onSave($event)"> Event buble botton </button>
    </div>
    <!-- Template variable Example -->
   <span>Event Binding 1 aproach </span> <input (keyup.enter)="onKeyUp($event)"><br>
   <span>keyup.enter 2 aproach </span> <input #email (keyup.enter)="onKeyUpemail(email.value)"><br>

   <!-- two way binding Example -->
   <span>Two way binding Example </span> <input [(ngModel)]="emailData"><br>
   <p>{{emailData | date}}</p>
  