<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
<div style="text-align:left"> -->
<!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
<!-- <app-form-reactive></app-form-reactive> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-form-demo></app-form-demo>
  <app-home></app-home> 
  <app-demo></app-demo>
  <h2>Component API</h2>
  <app-home></app-home>  -->
<!-- <app-hero-form-reactive></app-hero-form-reactive> -->
<!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
<!-- </div>
</div> -->
<!-- ================================= -->
<!-- 
<!DOCTYPE html>
<html lang="en"> -->
<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
   
  </style>
</head> -->
<!-- <body> -->

<app-navbar-header></app-navbar-header>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a routerLink="/basic">Basic Learning</a></p>
      <p><a routerLink="/componants">Componants Learning</a></p>
      <p><a routerLink="/template">Template Forms</a></p>
      <p><a routerLink="/reactive">Reactive Forms</a></p>
      <p><a routerLink="/httpModule">HttpModule</a></p>
      <p><a routerLink="/Pagination">Pagination</a></p>
    </div>
    <div class="col-sm-8 text-left scroll" >
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<app-footer-page></app-footer-page>
<!-- <router-outlet></router-outlet> -->